<!--Muestra detalles del 'hero' seleccionado con *ngIf-->
<div *ngIf="user">
    <h2>{{user.username | uppercase}} Details</h2>
    <div><span>id: </span>{{user.email}}</div>
    <!-- Permite editar el nombre del hero mediante Two-Way Binding-->
    <div>
      <label for="user-name">User name: </label>
      <input id="user-name" [(ngModel)]="user.username" placeholder="User name"/>
    </div>
    <!--------------------------------------------------------------->
<!--     <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button> -->
  </div>