<div *ngIf="user">
<div class="user-details">
  <h2>Detalles de {{user.username | uppercase}}</h2>
  <div><span>id: </span>{{user._id}}</div>
  <div>
    <span>Username: {{user.username}}</span>
  </div>
  <div>
    <span>Email: {{user.email}}</span>
  </div>
  <div>
    <button type="button" (click)="delete()">Delete User</button>
    <button type="button" (click)="toggleUpdateForm()">Update User</button>
  </div>
</div>
<div *ngIf="showUpdateForm" class="update-form">
  <h2>Actualizar Usuario</h2>
  <form (submit)="update()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="userupdate.username" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="userupdate.email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="userupdate.password" required>

    <button type="submit">Guardar Cambios</button>
    <button type="button" (click)="cancelUpdate()">Cancelar</button>
  </form>
</div>

