<div class="container">
  <div class="row">
    <!-- Columna izquierda con el botón para mostrar/ocultar el formulario -->
    <div class="col-md-6 mx-auto">
      <button class="btn btn-primary" (click)="toggleFormVisibility()">
        {{ showAddForm ? 'Ocultar Formulario' : 'Mostrar Formulario' }}
      </button>
      <div class="card" *ngIf="showAddForm">
        <div class="card-header">
          Add User
        </div>
        <div class="card-body">
          <form (submit)="add()">
            <div class="form-group">
              <input type="text" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Username" required autofocus>
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="form-group">
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Add User
            </button>
          </form>
        </div>
      </div>
    </div>
    
<!-- Columna derecha con la lista de usuarios -->
<div class="col-md-6 mx-auto">
  <h2>Users</h2>
  <ol class="user-list"> <!-- Cambiamos a una lista ordenada -->
    <li *ngFor="let user of users">
      <a routerLink="/detail/{{user._id}}">
        <div class="user-info">
          <div class="user-badge">
            <span class="badge">
              <span class="id">Id: {{user._id}}</span>
              <span class="username">Username: {{user.username}}</span>
            </span>
          </div>
        </div>
      </a>
    </li>
  </ol>
</div>

